
  <%- include('./include/header.ejs'); %>


    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="1.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-6">
                <h1>Tank Top T-Shirt</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga voluptas, distinctio, aperiam, ratione dolore.</p>
                <p>Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>
                <h1>$50.00</h1>
                <button type="button" class="btn btn-info">Add To Cart</button>
            </div>
        </div>
    </div>
</body>
</html> 
